<section class="registration">
    <div class="left">
        <div class="box-step">
            <h2>Políticas de cancelación</h2>
            <form>
                <div class="row">
                    <div class="col-6">
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Política 1
                            </label>
                        </div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Política 2
                            </label>
                        </div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Política 3
                            </label>
                        </div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Política 4
                            </label>
                        </div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Política 5
                            </label>
                        </div>
                        <div class="form-check mt-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Política 6
                            </label>
                        </div>
                    </div>
                </div>
                <div class="cta-action">
                    <button class="cta-back me-4" routerLink="/private/configuracion-precio">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        Atrás
                    </button>
                    <button class="cta-checkout">
                        Finalizar
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>                
            </form>
        </div>
    </div>
    <div class="right">
        <div class="box-step">
            Componente 1
        </div>
        <div class="box-step">
            Componente 2
        </div>
        <div class="box-step">
            Componente 3
        </div>
    </div>
</section>
