<section class="detail-properties">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="" role="tab" aria-controls="" aria-selected="true">Tu alojamiento</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="" role="tab" aria-controls="" aria-selected="false">Página de pago</a>
                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="" role="tab" aria-controls="" aria-selected="false">Solicitudes de reserva</a>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-md-8">
                <div class="form-reservation">
                    <form>
                        <h3>Datos de contacto</h3>
                        <hr>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre *</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tus nombres">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Apellidos *</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ingresas tus apellidos">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Correo electrónico *</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Confirmar correo electrónico *</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="selectors-inputs">
                            <div class="mb-3 home">
                                <label for="exampleFormControlInput1" class="form-label">Pais de residencia *</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>                            
                            <div class="mb-3 phone">
                                <label for="exampleFormControlInput1" class="form-label">Teléfono</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                            </div>
                        </div>
                        <h3 class="mt-4">Ponte en contacto con tu anfitrión <span>(opcional)</span></h3>
                        <hr>
                        <p>!Aprovecha al máximo tu viaje! Ponte en contacto con tu anfitrión si tienes dudas o quieres recibir consejos sobre la zona:</p>
                        <div class="mb-3 mt-3">
                            <textarea class="form-control w-100" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe tu mensaje aquí"></textarea>
                        </div>
                        <div class="form-check mt-4">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                Acepta los <a href="">términos y Condiciones</a> y la <a href="">Política de Protección de Datos</a>.
                            </label>
                        </div>
                        <button class="cta-checkout mt-3">
                            Solicitar reserva
                        </button>
                    </form>                    
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="box-checkout">
                    <h3>Detalles de la reserva</h3>
                    <img src="assets/images/home/glamping.jpg" class="img-hotel" alt="..." title="">
                    <h5>Tented Cabin #1</h5>
                    <h2>Cabañas rúticas con vistas espectaculares en Santa Elena</h2>
                    <div class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>Rionegro, Antioquía (Colombia)</p>
                    </div>
                    <div class="table-price">
                        <h5>US$131 x 2 nights</h5>
                        <h3>US$262</h3>
                    </div>
                    <div class="table-price">
                        <h5>Servicio de limpieza</h5>
                        <h3>US$5</h3>
                    </div>
                    <div class="table-price">
                        <h5 class="bold">US$131 x 2 nights</h5>
                        <h3 class="bold">US$262</h3>
                    </div>
                    <p class="host ms-auto">Tarifa de servicio e impuestos incluidos</p>
                </div>
                <div class="cod-discount">
                    <h4>Código de descuento</h4>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="XXXX-XXXXX-XXXX" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                    </div>
                    <p>Introduce el código tal como aparece (incluyendo guiones) y haz clic en Aplicar.</p>
                </div>                
            </div>
        </div>
    </div>
</section>
