@import '../../../styles.scss';
.properties-list {
    .content-properties {
        display: flex;
        flex-direction: row;
        align-items: end;
        @media(max-width:768px){
            flex-direction: column;
        }
        .form-properties {
            flex: 1 1 50%;
            @media(max-width:768px){
                width: 100%;
            }
            .header {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: $gray-scale-6;
                padding: 16px 24px;
                @media(max-width:768px){
                    flex-direction: column;
                }
            }
            .component-filters {
                padding: 16px 24px;
            }
            .acommodations {
                margin: 16px 0 16px 16px;
                p {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $gray-scale-3;
                    margin-bottom: 0;
                    span {
                        color: $success;
                    }
                }
            }
            .properties {
                display: flex;
                flex-direction: row;
                margin: 8px auto;
                border: 1px solid $gray-scale-8;
                border-radius: 8px;
                @media(max-width:768px){
                    flex-direction: column;
                }
                .carusel-img {
                    flex: 1 1 45%;
                    width: 45%;
                    @media(max-width:768px){
                        width: 100%;
                    }
                    ::ng-deep ngb-carousel {
                        .carousel-inner {
                            height: 220px;
                            .carousel-item {
                                .picsum-img-wrapper {
                                    img {
                                        width: 166%;
                                    }
                                }
                            }
                        }
                        .carousel-control-prev {
                            .sr-only {
                                display: none;
                            }
                        }
                        .carousel-control-next {
                            .sr-only {
                                display: none;
                            }
                        }
                    }
                }
                .description {
                    flex: 1 1 55%;
                    width: 55%;
                    background-color: $white;
                    padding: 24px;
                    @media(max-width:768px){
                        width: 100%;
                    }
                    h3 {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 300;
                        text-transform: uppercase;
                        color: $primary-1;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 400;
                        color: $primary-1;
                        &.location {
                            font-size: 14px;
                            line-height: 20px;
                            color: $gray-scale-3;
                        }
                        &.price {
                            font-size: 14px;
                            line-height: 20px;
                            color: $gray-scale-3;
                            margin-top: 8px;
                            margin-bottom: 0;
                            span {
                                font-size: 24px;
                                line-height: 30px;
                                color: $gray-scale-1;
                                small {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .maps {
            flex: 1 1 50%;
            ::ng-deep agm-map {
                height: 100vh;
            }
        }
    }
}