
<header>
    <div class="bg-overlay"></div>
    <div class="banner-travel">
        <!-- <img class="d-block mx-auto mb-4" src="assets/images/header/traveller.jpg" alt="" width="72" height="57"> -->
        <h1>Cada sitio cuenta una historia</h1>
        <p>Màs de 23.000 alojamientos con encanto en la naturaleza listor para reservar</p>
        <div class="form-travel">
            <form class="form-search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <app-location></app-location>
                <app-calendar></app-calendar>
                <app-guests></app-guests>
                <button class="btn btn-search-trip" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </div>
</header>