@import '../../../styles.scss';

header {
    background-image: url('../../../assets/images/header/traveller.jpg');
    background-size: cover;
    height: 500px;
    background-position-y: center;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .bg-overlay {
        background-color: $secondary;
        opacity: .45;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
    .banner-travel {
        text-align: center;
        position: relative;
        @media(max-width:768px){
            padding: 24px;
        }  
        .form-search {
            @media(max-width:768px){
                display: flex;
                flex-direction: column;
            }
            input {
                &.form-control {
                    @media(max-width:768px){
                        margin: 6px auto!important;
                    }
                }
            }
        }
        h1 {
            font-size: 42px;
            line-height: 50px;
            font-weight: 700;
            color: $white;
        }
        p {
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            color: $white;
        }
        .form-travel {
            .btn-search-trip {
                background-color: $primary-1;
                margin-left: 8px;
                height: 40px;
                i {
                    color: $white;
                }
                @media(max-width:768px){
                    width: 100%;
                    margin: 0 auto;
                }
            }            
        }
    }
}

// Datapicker 
// .popover-markup .popover{
//     width:150%;
//   }
  
//   .popover-markup label{
//     padding:0px;
//   }