@import '../../../styles.scss';
.detail-properties {
    .breadcrumb {
        padding: 16px 0;
        margin-bottom: 0;
        .breadcrumb-item {
            font-family: $roboto;
            font-size: 14px;
        }
    }
    .nav-tabs {
        width: 100%;
        margin: 16px auto 24px;
        padding: 0 24%;
        @media(max-width:768px){
            padding: 0;
        }
        .nav-item {
            font-size: 14px;
            font-weight: 400;
            color: $gray-scale-3;
            @media(max-width:768px){
                width: 33%;
            }
            &.active {
                font-weight: 600;
                color: $success;
                border-bottom: 3px solid $success!important;
                border-color: transparent;
            }
        }
    }
    .carousel-propertie {

    }
    .info-propertie {
        h1 {
            font-family: $roboto;
            font-size: 24px;
            line-height: 32px;
            color: $gray-scale-1;
            margin: 24px 0 16px;
        }
        h3 {
            font-family: $roboto;
            font-size: 13px;
            line-height: 28px;
            color: $success;
        }
        .accommodation-check {
            display: flex;
            flex-direction: row;
            align-items: center;
            i {
                font-size: 16px;
                margin-right: 10px;
            }
            span {
                font-size: 13px;
            }
        }
    }
    .benefits {
        width: 70%;
        display: flex;
        align-items: end;
        flex-direction: row;
        margin: 24px 0;
        .box-benefits {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1 1 33%;
            i {
                font-size: 32px;
                margin-right: 12px;
                color: $gray-scale-3;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                color: $gray-scale-3;
                margin-bottom: 0;
            }
        }
    }
    .form-reservation {
        @media(max-width:768px){
            padding: 0 16px;
        }
        form {
            h3 {
                font-size: 18px;
                line-height: 24px;
                font-weight: 600;
                color: $gray-scale-1;
                margin-bottom: 0;
                span {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $gray-scale-3;
                }
            }
            hr {
                border: 1px solid $gray-scale-4;
                margin: 8px auto 24px;
            }
            .form-control {
                width: 60%;
                @media(max-width:768px){
                    width: 100%;
                }
            }
            .selectors-inputs {
                display: flex;
                flex-direction: row;
                width: 60%;
                @media(max-width:768px){
                    width: 100%;
                }
                .home {
                    flex: 1 1 60%;
                    margin-right: 16px;
                    .form-select {
                        
                    }
                }
                .phone {
                    flex: 1 1 40%;
                    .form-control {
                        width: 100%;
                    }
                }
                
            }
            .form-check {
                .form-check-label {
                    font-size: 14px;
                    line-height: 20px;
                    color: $gray-scale-3;
                    a {
                        color: $success;
                    }
                }
            }
            .cta-checkout {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 16px;
                color: $white;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                background-color: $success;
                border: none;
                border-radius: 6px;
                margin: 16px auto 24px;
                &:hover {
                    opacity: .6;
                }
            }
        }        
    }
    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $gray-scale-3;
        margin-bottom: 0;
    }
    .caracteristics {
        margin: 32px 0 24px;
        h3 {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            color: $gray-scale-1;
            margin-bottom: 0;
        }
        hr {
            border: 1px solid $gray-scale-4;
            margin: 8px auto;
        }
        .bullets-all {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 16px auto;
            .bullets {
                display: flex;
                align-items: end;
                margin: 0 0 16px;
                flex: 1 1 33%;
                width: 33%;
                i {
                    font-size: 18px;
                    margin-right: 10px;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    color: $gray-scale-3;
                    margin-bottom: 0;
                }
            }
        }
        .location {
            display: flex;
            flex-direction: row;
            align-items: end;
            .description {
                flex: 1 1 25%;
                background-color: $gray-scale-5;
                padding: 24px;
                margin-top: 24px;
                p {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: $gray-scale-3;
                    margin-bottom: 16px!important;
                }
            }
            .maps {
                flex: 1 1 75%;
            }
        }
    }
    .rating {
        margin: 24px auto;
        .rating-box {
            display: flex;
            flex-direction: column;
            padding: 24px 24px 16px;
            background-color: $gray-scale-5;
            border-radius: 8px;
            .head {
                display: flex;
                flex-direction: row;
                align-items: center;
                i {
                    font-size: 24px;
                    color: $success;
                    margin-right: 12px;
                }
                h4 {
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 600;
                    color: $gray-scale-1;
                    margin-bottom: 0;
                }
                hr {
                    border: 1px solid $gray-scale-4;
                    margin: 8px auto;
                }
            }
            .comment {
                p {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $gray-scale-3;
                    margin-bottom: 16px;
                    &.description {
                        font-size: 16px;
                        line-height: 24px;
                        color: $gray-scale-1;
                    }
                }
            }
        }
    }
    .box-checkout {
        display: flex;
        flex-direction: column;
        background-color: $white;
        border: 1px solid $gray-scale-6;
        border-radius: 6px;
        width: 100%;
        padding: 24px 24px 8px;
        @media(max-width:768px){
            width: 90%;
            margin: 0 auto;
        }
        h3 {
            font-size: 18px;
            line-height: 24px;
            font-weight: 600;
            color: $gray-scale-1;
            margin-bottom: 0;
            span {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray-scale-3;
            }
        }
        h5 {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: $gray-scale-1;
            margin-bottom: 0;
            span {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray-scale-3;
            }
        }
        h2 {
            font-size: 20px;
            line-height: 28px;
            font-weight: 600;
            color: $gray-scale-1;
            margin-bottom: 0;
            span {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray-scale-3;
            }
        }
        .location {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 16px 0;
            i {
                font-size: 16px;
                color: $gray-scale-3;
                margin-right: 10px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray-scale-3;
                margin-bottom: 0;
            }
        }
        .img-hotel {
            width: 100%;
            margin: 16px auto;
        }
        .forms-date {
            display: flex;
            flex-direction: row;
            .calendar {
                flex: 1 1 70%;
                margin-right: 16px;
                ::ng-deep app-calendar {
                    .form-control {
                        width: 100%;
                    }                    
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $gray-scale-3;
                    margin-bottom: 8px;
                }
            }
            .guests {
                flex: 1 1 30%;
                ::ng-deep app-guests {
                    width: 100%;                  
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 400;
                    color: $gray-scale-3;
                    margin-bottom: 8px;
                }
            }
        }
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $gray-scale-3;
            margin-bottom: 16px;
            &.host {
                font-size: 14px;
                margin: 16px 0;
            }
            span {
                &.current {
                    font-size: 14px;
                    color:$gray-scale-1;
                }
                &.price {
                    font-size: 20px;
                    font-weight: 600;
                    color:$gray-scale-1;
                }
                &.night {
                    font-size: 14px;
                }
            }
        }
        .table-price {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid $gray-scale-4;
            padding: 8px 0;            
            h5 {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray-scale-3;
                margin-bottom: 0;
                &.bold {
                    font-weight: 600;
                    color: $gray-scale-1;
                }
            }
            h3 {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray-scale-3;
                margin-bottom: 0;
                margin-left:  auto;
                &.bold {
                    font-weight: 600;
                    color: $gray-scale-1;
                }
            }
        }
        .check-cancellation {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 70%;
            margin: 16px auto;
            i {
                font-size: 20px;
                color: $success;
                margin-right: 10px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray-scale-2;
                margin-bottom: 0;
            }
        }
        .cta-checkout {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 16px;
            color: $white;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            background-color: $success;
            border: none;
            border-radius: 6px;
            &:hover {
                opacity: .6;
            }
        }
    }
    .cod-discount {
        background-color: $gray-scale-5;
        border-radius: 6px;
        padding: 24px;
        margin: 24px auto 16px;
        @media(max-width:768px){
            width: 90%;
            margin: 24px auto;
        }
        h4 {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: $gray-scale-2;
            margin-bottom: 16px;
        }
        .input-group {
            margin: 16px auto;
            .form-control {

            }
            .btn {
                background-color: $success;
                border: none;
                color: $white;
            }
        }
        p {
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            color: $gray-scale-2;
            margin-bottom: 0;
        }
    }
    .reservation {
        margin-top: 32px;
        h4 {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            color: $gray-scale-1;
            margin-bottom: 16px;
        }
        .bullets {
            display: flex;
            flex-direction: row;
            align-items: end;
            margin: 16px 0;
            i {
                font-size: 20px;
                color: $gray-scale-2;
                margin-right: 10px;
            }
            p {
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                color: $gray-scale-2;
                margin-bottom: 0;
            }
        }
    }
}

//TABS
// .nav-tabs {
//     border-bottom: 1px solid #dee2e6;
//     width: 100%;
//     margin: 16px auto 24px;
//     padding: 0 24%;
// }
// .project-tab {
//     padding: 10%;
//     margin-top: -8%;
// }
// .project-tab #tabs{
//     background: #007b5e;
//     color: #eee;
// }
// .project-tab #tabs h6.section-title{
//     color: #eee;
// }
// .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
//     color: #0062cc;
//     background-color: transparent;
//     border-color: transparent transparent #f3f3f3;
//     border-bottom: 3px solid !important;
//     font-size: 16px;
//     font-weight: bold;
// }
// .project-tab .nav-link {
//     border: 1px solid transparent;
//     border-top-left-radius: .25rem;
//     border-top-right-radius: .25rem;
//     color: #0062cc;
//     font-size: 16px;
//     font-weight: 600;
// }
// .project-tab .nav-link:hover {
//     border: none;
// }
// .project-tab thead{
//     background: #f3f3f3;
//     color: #333;
// }
// .project-tab a{
//     text-decoration: none;
//     color: #333;
//     font-weight: 600;
// }