<section class="detail-properties">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Colombia</a></li>
                      <li class="breadcrumb-item"><a href="#">Antioquía</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Rionegro</li>
                    </ol>
                </nav>
            </div>
            <div class="col-12 col-md-8">
                <div class="carousel-propertie">
                    <ngb-carousel *ngIf="images">
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img [src]="images[0]" alt="Random first slide">
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3>First slide label</h3>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img [src]="images[1]" alt="Random second slide">
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3>Second slide label</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="picsum-img-wrapper">
                                <img [src]="images[2]" alt="Random third slide">
                            </div>
                            <!-- <div class="carousel-caption">
                                <h3>Third slide label</h3>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div> -->
                        </ng-template>
                    </ngb-carousel>    
                </div>
                <div class="info-propertie">
                    <h1>Cabañas rústicas con vistas espectaculares en Santa Elena</h1>
                    <h3>Rionegro, Antioquía (Colombia)</h3>
                    <div class="accommodation-check">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <span>Accommodation verified by Glamping Hub</span>
                    </div>
                    <div class="benefits">
                        <div class="box-benefits">
                            <i class="fa fa-id-badge" aria-hidden="true"></i>
                            <p>Privado Tienda Safarí</p>
                        </div>
                        <div class="box-benefits">
                            <i class="fa fa-id-badge" aria-hidden="true"></i>
                            <p>2 huespedes</p>
                        </div>
                        <div class="box-benefits">
                            <i class="fa fa-id-badge" aria-hidden="true"></i>
                            <p>1 baño privado</p>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porta varius odio at convallis. Maecenas venenatis suscipit nibh eget pellentesque. Proin ut orci nunc. Morbi lacus felis, accumsan sed aliquet et, luctus vel ligula. Nunc justo dui, lobortis in justo non, finibus gravida dui. Cras non neque venenatis, consectetur nisl quis, malesuada nibh. Nunc feugiat turpis eu turpis ultrices, id aliquam tortor fringilla. Vestibulum sollicitudin tristique sem, sed posuere enim hendrerit sed. Aliquam molestie urna risus, sed malesuada elit lobortis non. Fusce vitae ipsum nec libero commodo facilisis. Proin bibendum maximus ex, mollis ullamcorper urna gravida vitae.</p>
                    <div class="caracteristics">
                        <h3>2 Camas</h3>
                        <hr>
                        <div class="bullets-all">
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                        </div>                        
                    </div>
                    <div class="caracteristics">
                        <h3>Features and services</h3>
                        <hr>
                        <div class="bullets-all">
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                        </div>
                        <div class="bullets-all">
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                        </div>  
                        <div class="bullets-all">
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-id-badge" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                        </div>            
                    </div>
                    <div class="rating">
                        <div class="rating-box">
                            <div class="head">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <h4>4.6 Opiniones</h4>                                
                            </div>
                            <div class="comment">
                                <hr>
                                <p>This accomodation has no reviews yet.</p>
                                <p class="description">Book and be the first to leave a comment and help other glampers get to know this place better.</p>
                            </div>
                        </div>
                    </div>
                    <div class="caracteristics">
                        <h3>Normas de alojamiento</h3>
                        <hr>
                        <div class="bullets-all">
                            <div class="bullets">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <p>Llegada <br><strong>15:00</strong></p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <p>Salida <br><strong>11:00</strong></p>
                            </div>
                            <div class="bullets">
                            </div>
                        </div>
                        <div class="bullets-all">
                            <div class="bullets">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                        </div>  
                        <div class="bullets-all">
                            <div class="bullets">
                                <i class="fa fa-times" aria-hidden="true"></i>
                                <p>2 huespedes</p>
                            </div>
                            <div class="bullets">
                            </div>
                            <div class="bullets">
                            </div>
                        </div>            
                    </div>
                    <div class="caracteristics">
                        <h3>Política de cancelación: Moderada</h3>
                        <hr>
                        <p><strong>Free cancellation</strong> until agosto 11.</p>
                        <p>After that cancel before agosto 18 and get a <strong>50% refund</strong>.</p>
                    </div>
                    <div class="caracteristics">
                        <h3>Ubicación y alrededores</h3>
                        <div class="location">
                            <div class="description">
                                <p>Rionegro, Antioquía (Colombia)</p>
                                <p>Detalled location provided after booking</p>
                                <p>
                                    <a href="#">Ver más</a>
                                </p>
                            </div>
                            <div class="maps">
                                <div class="places">
                                    <div class="map">
                                        <agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom">
                                            <agm-marker *ngFor="let p of places" [latitude]="p.lat" [longitude]="p.long"></agm-marker>
                                        </agm-map>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="box-checkout">
                    <div class="forms-date">
                        <div class="calendar">
                            <p>Fechas</p>
                            <app-calendar></app-calendar>
                        </div>
                        <div class="guests">
                            <p>Huespedes</p>
                            <app-guests></app-guests>
                        </div>                        
                    </div>
                    <p class="host">Estancia mínima: 1 noche</p>
                    <hr>
                    <p><span class="current">US$</span><span class="price">131</span><span class="night"> por noche</span>.</p>
                    <div class="table-price">
                        <h5>US$131 x 2 nights</h5>
                        <h3>US$262</h3>
                    </div>
                    <div class="table-price">
                        <h5>Servicio de limpieza</h5>
                        <h3>US$5</h3>
                    </div>
                    <div class="table-price">
                        <h5 class="bold">US$131 x 2 nights</h5>
                        <h3 class="bold">US$262</h3>
                    </div>
                    <p class="host ms-auto">Tarifa de servicio e impuestos incluidos</p>
                    <div class="check-cancellation">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <p>Free cancellation until agosto 11</p>
                    </div>
                    <button class="cta-checkout">
                        Request booking
                    </button>
                    <p class="host text-center">No payment required yet</p>
                </div>
                <div class="reservation">
                    <h4>¿Qué pasa después de solicitar la reserva?</h4>
                    <div class="bullets">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <p>Enviaremos tu solicitud al anfitrión y no <strong>no te cobraremos nada hasta que se confirme la reserva</strong>.</p>
                    </div>
                    <div class="bullets">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <p>Puedes consultar el estado de tu solicitud en cualquier momento. Recibirás una confirmación por correo electrónico en cuanto se confirmeaishhhh.</p>
                    </div>
                    <div class="bullets">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <p>Si el anfitrión no confirma tu solicitud de reserva. puedes retirarla si coste alguno 24 horas después de enviada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
