$primary-1:#232956;
$primary-2: #7AFFA3;
$secondary: #20FEEE;
$gray-scale-1: #28293D;
$gray-scale-2: #555770;
$gray-scale-3: #8F90A6;
$gray-scale-4: #DBDBE6;
$gray-scale-5: #EBEBF0;
$gray-scale-6: #F2F2F5;
$gray-scale-7: #FAFAFC;
$gray-scale-8: #ced4da;
$success: #06C295;
$error: #FF2055;
$link: #20FEEE;
$white: #ffffff;
$black: #000000;