@import '../../../styles.scss';
.btn-modal-filter {
    font-size: 16px;
    line-height: 24px;
    color: $gray-scale-1;
    background-color: $white;
    border: 1px solid $gray-scale-8;
    height: 40px;
    margin-right: 10px;
}
.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {

            }
            .modal-body {
                form {
                    h3 {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        color: $gray-scale-1;
                        margin-bottom: 16px;
                    }
                    .form-check {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        padding-left: 0;
                        .form-check-label {
                            flex: 1 1 97%;
                            padding-right: 12px;
                        }
                        .form-check-input {
                            flex: 1 1 0%;
                            transform: scale(1.2);
                        }
                    }
                    .box-price {
                        display: flex;
                        flex-direction: row;
                        .form-control {
                            flex: 1 1 70%;
                            margin-right: 10px;
                        }
                        .form-select {
                            flex: 1 1 46%;
                        }
                    }
                }                
            }
            .modal-footer {
                .cta-action {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    @media(max-width:768px){
                        flex-direction: column-reverse;
                    }
                    .cta-back {
                        flex: 1 1 49%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 8px 16px;
                        color: $success;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        background-color: $white;
                        border: 1px solid $success;
                        //border: none;
                        border-radius: 6px;
                        margin: 8px auto 0;
                        position: relative;
                        @media(max-width:768px){
                            width: 100%;
                            border: none;
                            text-decoration: underline;
                            padding: 8px 16px;
                            font-weight: 400;
                        }
                        &:hover {
                            background-color: rgba($color: $success, $alpha: .2);
                        }
                        .fa-chevron-left {
                            position: absolute;
                            font-size: 16px;
                            left: 24px;
                            @media(max-width:768px){
                                display: none;
                            }
                        }
                    }
                    .cta-checkout {
                        flex: 1 1 49%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 8px 16px;
                        color: $white;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 400;
                        background-color: $success;
                        border: none;
                        border-radius: 6px;
                        margin: 8px auto 0;
                        position: relative;
                        @media(max-width:768px){
                            width: 100%;
                        }
                        &:hover {
                            opacity: .6;
                        }
                        .fa-chevron-right {
                            position: absolute;
                            font-size: 16px;
                            right: 24px;
                        }
                    }
                }
            }
        }
    }
}