@import '../../../styles.scss';
.accommodation-list {
    padding: 42px 0;
    h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        color: $gray-scale-1;
        margin-bottom: 24px;
    }
    .card-item {
        display: flex;
        flex-direction: row;
        z-index: -1;
        .card {
            cursor: pointer;
            margin-bottom: 40px;
            &:hover {
                -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.25); 
                box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.25);
            }
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 24px;
                h3 {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 300;
                    text-transform: uppercase;
                    color: $primary-1;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 400;
                    color: $primary-1;
                    &.location {
                        font-size: 14px;
                        line-height: 20px;
                        color: $gray-scale-3;
                    }
                    &.price {
                        font-size: 14px;
                        line-height: 20px;
                        color: $gray-scale-3;
                        margin-top: 8px;
                        margin-bottom: 0;
                        span {
                            font-size: 24px;
                            line-height: 30px;
                            color: $gray-scale-1;
                            small {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
    hr {
        border: 1px solid $gray-scale-4;
        margin: 0 auto 40px;
    }
    .cta-action {
        display: flex;
        flex-direction: row;
        @media(max-width:768px){
            flex-direction: column-reverse;
        }
        .cta-back {
            flex: 1 1 49%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 16px;
            color: $success;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            background-color: $white;
            border: 1px solid $success;
            //border: none;
            border-radius: 6px;
            margin: 0 auto 24px;
            position: relative;
            @media(max-width:768px){
                width: 100%;
                border: none;
                text-decoration: underline;
                padding: 8px 16px;
                font-weight: 400;
            }
            &:hover {
                background-color: rgba($color: $success, $alpha: .2);
            }
            .fa-chevron-left {
                position: absolute;
                font-size: 16px;
                left: 24px;
                @media(max-width:768px){
                    display: none;
                }
            }
        }
        .cta-checkout {
            flex: 1 1 49%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 16px;
            color: $white;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            background-color: $success;
            border: none;
            border-radius: 6px;
            margin: 8px auto 16px;
            position: relative;
            @media(max-width:768px){
                width: 100%;
            }
            &:hover {
                opacity: .6;
            }
            .fa-chevron-right {
                position: absolute;
                font-size: 16px;
                right: 24px;
            }
        }
    }
}