<section class="registration">
    <div class="left">
        <div class="box-step">
            <h2>Cuentanos sobre tu propiedad 1</h2>
            <form>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">¿Cuántas camas hay en la propiedad?</label>
                </div>
                <div class="mb-3">
                    <div class="handle-counter">
                        <div class="left">
                            <p>2 Huespedes:</p>
                        </div>
                        <div class="right">
                            <button class="counter-minus btn btn-primary">-</button>
                            <input type="text" value="3" class="number-pass">
                            <button class="counter-plus btn btn-primary">+</button>
                        </div>                        
                    </div>
                </div>
                <div class="mb-3">
                    <div class="handle-counter">
                        <div class="left">
                            <p>2 Habitaciones:</p>
                        </div>
                        <div class="right">
                            <button class="counter-minus btn btn-primary">-</button>
                            <input type="text" value="3" class="number-pass">
                            <button class="counter-plus btn btn-primary">+</button>
                        </div>                        
                    </div>
                </div>
                <div class="mb-3">
                    <div class="handle-counter">
                        <div class="left">
                            <p>2 Baños:</p>
                        </div>
                        <div class="right">
                            <button class="counter-minus btn btn-primary">-</button>
                            <input type="text" value="3" class="number-pass">
                            <button class="counter-plus btn btn-primary">+</button>
                        </div>                        
                    </div>
                </div>
                <div class="cta-action">
                    <button class="cta-back me-4" routerLink="/private/registro-propiedad">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        Atrás
                    </button>
                    <button class="cta-checkout" routerLink="/private/detalles-propiedad-2">
                        Siguiente
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>                
            </form>
        </div>
    </div>
    <div class="right">
        <div class="box-step">
            Componente 1
        </div>
        <div class="box-step">
            Componente 2
        </div>
        <div class="box-step">
            Componente 3
        </div>
    </div>
</section>
