<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle drop-passengers" type="button" title="Huespedes" (click)="openCounter()" >
        2 huespedes
    </button>
    <div class="counter-passengers" id="handleCounter">
        <div class="handle-counter">
            <div class="left">
                <p>Adultos:</p>
            </div>
            <div class="right">
                <button class="counter-minus btn btn-primary">-</button>
                <input type="text" value="3" class="number-pass">
                <button class="counter-plus btn btn-primary">+</button>
            </div>                        
        </div>                   
        <div class="handle-counter">
            <div class="left">
                <p>Niños:</p>
                <p><small>Entre 2 - 12 años</small></p>
            </div>
            <div class="right">
                <button class="counter-minus btn btn-primary">-</button>
                <input type="text" value="3" class="number-pass">
                <button class="counter-plus btn btn-primary">+</button>
            </div>                        
        </div>
        <div class="handle-counter">
            <div class="left">
                <p>Bebes:</p>
                <p><small>Menores de 2 años</small></p>
            </div>
            <div class="right">
                <button class="counter-minus btn btn-primary">-</button>
                <input type="text" value="3" class="number-pass">
                <button class="counter-plus btn btn-primary">+</button>
            </div>                        
        </div>
        <div class="cta-action">
            <button class="cta-back me-4" routerLink="/private/caracteristicas-y-servicios">
                Restablecer
            </button>
            <button class="cta-checkout" routerLink="/private/adicionar-fotos">
                Aplicar
            </button>
        </div>
    </div>
</div>