<section class="registration">
    <div class="left">
        <div class="box-step">
            <h2>Disponibilidad de propiedad</h2>
            <form>
                <div class="box-calendar">
                    <label for="exampleFormControlInput1" class="form-label">Hora de entrada: </label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-calendar">
                    <label for="exampleFormControlInput1" class="form-label">Hora de salida: </label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Disponibilidad</h3>
                <div class="box-calendar">
                    <label for="exampleFormControlInput1" class="form-label">Hora inicio: </label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-calendar">
                    <label for="exampleFormControlInput1" class="form-label">Hora fin: </label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="cta-action">
                    <button class="cta-back me-4" routerLink="/private/condiciones">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        Atrás
                    </button>
                    <button class="cta-checkout" routerLink="/private/configuracion-precio">
                        Siguiente
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>                
            </form>
        </div>
    </div>
    <div class="right">
        <div class="box-step">
            Componente 1
        </div>
        <div class="box-step">
            Componente 2
        </div>
        <div class="box-step">
            Componente 3
        </div>
    </div>
</section>
