<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="box-contact">
                    <h4>Contáctenos</h4>
                    <p>Te interesa conocer un poco más de trypdate por favor escríbenos <a href="mailto:contacto@trypdate.com">contacto@trypdate.com</a></p>
                </div>                
            </div>
            <div class="col-12 col-md-4">
                <div class="box-contact">
                    <h4>¿Qué deseas hacer?</h4>
                    <p><a href="#">Registro proiedad</a></p>
                    <p><a href="#">Registrar servicio</a></p>
                    <p><a href="#">Registrar usuario</a></p>
                </div>
                
            </div>
            <div class="col-12 col-md-4">
                <div class="box-contact">
                    <h4>Información Legal</h4>
                    <p><a href="#">Política de tratamiento de datos personales</a></p>
                    <p><a href="#">Términos y condiciones</a></p>
                </div>                
            </div>
        </div>
    </div>
</footer>
